body {
  font: normal 10px 'Lucida Grande';
  margin: 0;
  padding: 0;
  /* position: absolute; */
}
/* front */
#front {
  background: url(middle.png) repeat-x;
  margin: 0px 14px;
  padding-top: 4px;
  /* width: 612px; */
  height: 200px;
}
#front #left {
  background: url(left.png);
  width: 14px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#front #right {
  background: url(right.png);
  width: 14px;
  height: 200px;
  position: absolute;
  top: 0px;
  right: 0px;
}

iframe {
  margin: 0;
  padding: 0;
  /* width: 612px; */
  display: block;
  height: 140px;
  overflow: scroll;
}
/* navigation bar */
.navigation {
  text-align: center;
  margin: 16px 0 0 0;
  font: bold 14px 'Helvetica Neue';
}
.navigation a {
  color: #336;
  padding: 0px 3px;
  cursor: default;
}
.navigation a:hover {
  color: #003;
}

/* Table */
.channel h1 {
  color: #fff;
  position: fixed;
  font-size: 100%;
  height: 20px;
  padding: 0px;
  text-align: center;
}
.channel a:hover {
  text-decoration: underline;
  cursor: pointer;
}
div.channel {
  position: absolute;
  top: 0px;
}
div.hour {
  color: #000;
  opacity: 0.1;
  line-height: 140px;
  font: bold 100px 'Helvetica Neue';

  padding-top: 20px;
  height: 200px;
}
ul.hour {
  list-style-type: none;
  margin: 0;

  padding: 20px 1px 0 1px;
  height: 200px;
  overflow: hidden;
}
/* back */
#back {
  color: #fff;
  font: normal 12px 'Lucida Grande';
  background: url(Back.png) no-repeat;
  padding: 16px 10px;
  width: 640px;
  height: 200px;
}
#back .left {
  width: 30%;
  margin-top: 12px;
  margin-left: 10px;
  float: left;
}
#back .right {
  width: 50%;
  margin-top: 12px;
  float: right;
}
#back #done {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#back #channels {
  width: 200px;
}