body {
  font: normal 10px 'Lucida Grande';
  margin: 0;
  padding: 0;
  /* position: absolute; */
}
/* front */
#front {
  background: url(Default.png) no-repeat;
  padding: 4px 4px 0 4px;
  width: 660px;
  height: 200px;
}
iframe {
  margin: 2px 0 0 0;
  width: 660px;
  display: block;
  height: 130px;
  overflow: hidden;
}
/* navigation bar */
.navigation {
  text-align: center;
  margin: 16px 0 0 0;
  font: bold 14px 'Helvetica Neue';
}
.navigation a {
  color: #336;
  padding: 0px 5px;
  cursor: default;
}
.navigation a:hover {
  color: #003;
}

/* Table */
th {
  width: 20px;
}
td {
  width: 80px;
}
#channels {
  position: fixed;
  top: 0px;
  font: bold 10px 'Lucida Grande';
  text-align: center;
  margin: 0;
  color: #fff;
}
#channels td {
  height: 16px;
  padding: 0 2px 0 5px;
}
#programs {
  margin-top: 20px;
}
#programs th {
  color: #fff;
  font: bold 20px 'Helvetica Neue';
  vertical-align: top;
}
#programs td {
  height: 200px;
  vertical-align: top;
  /* background: url(Line.png) 0px 0px no-repeat; */
  padding: 0 2px 0 5px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* back */
#back {
  color: #fff;
  font: normal 12px 'Lucida Grande';
  background: url(Back.png);
  padding: 16px 10px;
  width: 660px;
  height: 200px;
}
#back .left {
  width: 30%;
  float: left;
}
#back .right {
  width: 50%;
  margin-top: 12px;
  float: right;
}
#back #done {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
