<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="basic.css" type="text/css" />
    <title>Televi Time Table</title>
  </head>
  
  <body>
    <table id="channels">
      <tr>
        <th></th>
        <% channels.each do |ch| %>
        <td><%= ch.title %></td>
        <% end %>
      </tr>
    </table>
    
    <table id="programs">
      <% 24.times do |hour|; hour += 5 %>
      <tr>
        <th id="<%= hour %>"><%= hour % 24 %></th>
        <% channels.each do |ch| %>
        <td>
          <ul>
            <% (ch.fetch(hour) || []).each do |show| %>
            <li>
              <!-- time -->
              <strong>
              <%= "%02d:%02d -" % [show.start_hour, show.start_min] %>
              <% if hour != show.hour %>
              <%= "%02d:%02d" % [show.last_hour, show.last_min] %>
              <% end %>
              </strong><br />

              <!-- title -->
              <%= show.title %>
            </li>
            <% end %>
          </ul>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </body>
</html>
