body {
  font-family: 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
  width: 640px;
}

/* front */
#front {
  background: url(Images/middle.png) repeat-x;
  margin: 0 14px;
  height: 180px;
}
#front #left {
  background: url(Default.png);
  width: 14px;
  height: 180px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#front #right {
  background: url(Default.png) -626px 0;
  width: 14px;
  height: 180px;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* navigation */
#navigation {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  font: bold 14px "Helvetica Neue";
}
#navigation a {
  color: #336;
  padding: 0px 3px;
}
/* message */
#message {
  color: #fff;
  font: bold 14px "Helvetica Neue";
  position: absolute;
  top: 150px;
  left: 0px;
  text-align: center;
}

/* table */
table {
  font: normal 10px 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
}
th {
  font-weight: bold;
  color: #fff;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
td {
  vertical-align: top;
  margin: 0;
  padding: 0;
}
#table {
  position: absolute;
  top: 0px;
  left: 4px;
  
  height: 140px;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
#tableHeader {
  margin-top: 4px;
  height: 10px;
}
#tableHeader th {
}
#tableContent {
  position: absolute;
  overflow: hidden;
}
#bigNumber {
  position: absolute;
  opacity: 0.1;
  font: bold 140px 'Helvetica Neue';
  letter-spacing: -20px;
}

ul.hour {
  height: 1000px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* letter-spacing: -1px; */
}

.column {
  width: 88px;
  margin: 0;
  padding: 0;
}

/* back */
#back {
  color: #fff;
  font: normal 12px 'Lucida Grande';
  background: url(Images/Back.png) no-repeat;
  width: 640px;
  height: 180px;
}
#back .left {
    position: absolute;
    top: 14px;
    left: 20px;
    width: 320px;
}
#back .right {
  font-size: 12px;
  position: absolute;
  top: 14px;
  left: 320px;
}
#back #done {
    position: absolute;
    right: 14px;
    bottom: 14px;
}
#back #channels {
  margin-top: 5px;
  width: 200px;
}
